[project]
	description = this repo is for trying out various stuff
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/girisandeep
[access "refs/for/refs/*"]
	read = group user/girisandeep
	push = group user/girisandeep
	label-Code-Review = -2..+2 group user/girisandeep
	label-Verified = -1..+1 group user/girisandeep
	rebase = group user/girisandeep
	removeReviewer = group user/girisandeep
	submit = group user/girisandeep
[access "refs/heads/*"]
	read = group user/girisandeep
	create = group user/girisandeep
	push = +force group user/girisandeep
	pushMerge = group user/girisandeep
[access "refs/tags/*"]
	push = +force group user/girisandeep
	pushTag = group user/girisandeep
	pushSignedTag = group user/girisandeep
